[submodule "src/Utils/libraries/ALogger"]
	path = src/Utils/libraries/ALogger
	url = https://github.com/Megaxela/ALogger.git
[submodule "src/Utils/libraries/glm"]
	path = src/Utils/libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/Utils/libraries/ByteArray"]
	path = src/Utils/libraries/ByteArray
	url = https://github.com/Megaxela/ByteArray.git
[submodule "src/Physics/PlayRho/libraries/PlayRho"]
	path = src/Physics/PlayRho/libraries/PlayRho
	url = https://github.com/louis-langholtz/PlayRho.git
[submodule "src/Utils/libraries/RingBuffer"]
	path = src/Utils/libraries/RingBuffer
	url = https://github.com/Megaxela/RingBuffer.git
[submodule "src/Utils/libraries/assimp"]
	path = src/Utils/libraries/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/Rendering/Base/libraries/imgui"]
	path = src/Rendering/Base/libraries/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "src/Utils/libraries/json"]
	path = src/Utils/libraries/json
	url = https://github.com/nlohmann/json.git
	branch = master
